{erl_opts, [{src_dirs, ["src", "contrib/src"]}]}.
{lib_dirs, ["../../deps", "../.."]}.
{deps_dir, ["../../deps"]}.

{deps, [
	{meck, "0.7.2", {git, "git://github.com/eproxus/meck.git", "master"}},
	{errd, "0.1", {git, "https://github.com/dannaaduna/errd.git", "master"}},
	{gen_leader, "1.0", {git, "https://github.com/abecciu/gen_leader_revival.git", {branch, "master"}}},
	{mochiweb, "2.3.0", {git, "http://github.com/mochi/mochiweb.git", {tag, "v2.3.0"}}},
	{gen_server_mock, "0.0.5", {git, "http://github.com/sipxopenacd/gen_server_mock.git", "master"}},
	{ejrpc2, "0.0.1", {git, "git://github.com/jvliwanag/ejrpc2.git", {branch, "master"}}},
	{gproc, "0.2.*", {git, "https://github.com/uwiger/gproc.git", {tag, "f594597c841aaed9e235"}}}
]}.
{edoc_opts, [
	{def, {web, "<b>Web Api </b>"}},
	{def, {agent_api, "<b>Agent Api</b>"}},
	{def, {version, "2.0.0"}}
]}.

{cover_enabled, false}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls]}.
